@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tienne&display=swap');
/*Para tablets*/
@media (min-width:768px) { 
.Mifoto{
    width: 50vw;
}

}
/*Para escritorio*/
@media (min-width:1200px) {
    .Mifoto{
        width: 20vw;
    }

/*Para moviles*/    
}
@media only screen
and (min-width: 320px)
and (max-width: 736px)
{

    .Mifoto{
        width: 80vw;
    }

}
.body{
    background: rgb(74,87,89);
    background: linear-gradient(90deg, rgba(74,87,89,0.742734593837535) 0%, rgba(222,219,210,0.700717787114846) 100%);
    
}


